<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.autocar.dao.MemberDao">
	<select id="count" resultType="int"> 
		SELECT count(*) FROM MEMBER
	</select>
	
	<select id="getPage" resultType="Member"> 
	SELECT userIdx, user_id, name, email, phone, reg_date 
	FROM ( 
		SELECT ROW_NUMBER() OVER (ORDER BY reg_date DESC) AS userIdx, user_id, name, email, phone, reg_date 
			FROM MEMBER 
		)
	WHERE SEQ BETWEEN #{start} AND #{end} ORDER BY reg_date DESC 
	</select>
	
	<select id="findById" resultType="Member"> 
		SELECT * FROM MEMBER WHERE user_id=#{userId} 
	</select>
	
	<insert id="insert" parameterType="Member" useGeneratedKeys="true"
		keyColumn = "user_id" keyProperty="userId">
		insert into member(
			user_id, password, salt, name, 
			user_level, email, phone, address,	
			reg_date, update_date
		)values(
			#{userId}, #{password}, #{salt}, #{name}, 
			#{userLevel}, #{email}, #{phone}, #{address},	
			sysdate, sysdate
		)	
	</insert>
	
	<update id="update" parameterType="Member"> 
		UPDATE member SET email = #{email}, phone = #{phone}, address = #{address} 
		WHERE user_id=#{userId} 
	</update> 
	
	<update id="updateByAdmin" parameterType="Member"> 
		UPDATE member SET user_level = #{userLevel}, email = #{email}, phone = #{phone}, address = #{address} 
		WHERE user_id=#{userId} 
	</update> 
	
	<delete id="delete" > 
		DELETE FROM MEMBER WHERE user_id=#{userId} 
	</delete>
</mapper>