@charset "EUC-KR";

.cmt{
	padding:0px;
	margin:0px;
}
p.cmt.writer {
	display: inline;
	padding-left: 2%;
}

p.cmt.regDate {
    font-size: small;
    color: darkgray;
}
button.cmt.replyBtn {
    margin-top: 0.5em;
  	 width: 5em;
    font-size: 80%;
}


.first-section{
	display:inline;
	float:left;
	margin-top:1%;
}
.second-section{
	display:inline-block;
}

table.cmt.inner-tb {
    margin-top: 3%;
}


